<button id="start-creation">Начать построение отчета</button>
<br/>
Percents: <span id="progress">not started</span>

<script>
    $(function() {
        $('#start-creation').on('click', function() {
            $(this).attr("disabled", "disabled");

            $.get('@Url.Action("StartLongProcess", "Home")');

            setInterval(function () {
                $('#progress').load('@Url.Action("GetProgress", "Home")');
            }, 3000);
        });
    });
</script>